<h1>Contacts</h1>

<table id="table_container" >
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>

  <% @contacts.each do |contact| %>
    <tr>
      <td data-label="First Name"><%= best_in_place contact, :first_name, :as => :input %></td>
      <td data-label="Last Name"><%= best_in_place contact, :last_name, :as => :input %></td>
      <td data-label="Email"><%= best_in_place contact, :email, :as => :input %></td>
      <td data-label="Address">
        <%= contact.address_formatted_address %>
      </td>
    </tr>
  <% end %>
    
  </tbody>
</table>

<%#= content_tag :div,
  id: "table_container",
  data: {
    contacts: @contacts
}.to_json do %>



<%= link_to 'New contact', new_contact_path %>