<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<div class="row">
  <% @campaigns.each do |campaign| %>
    <div class="col s12 m6">
      <%= link_to campaign_path(campaign) do %>
        <div class="card">
          <div class="card-image">
            <%= image_tag campaign.template.image.url(:medium) %>
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p> <%= campaign.title %></p>
            
          </div>
          <div class="card-action">
            <% if current_user.admin %>
              <a class="left" onclick="Materialize.toast('Printing', 4000)">
               <i class="material-icons teal-text lighten-1 left">print</i>
              </a>

              <a class="" onclick="Materialize.toast('Campaign closed', 4000)">
                <i class="material-icons red-text right">not_interested</i>
              </a>

            <% else %>
              <%= link_to edit_campaign_path(campaign) do %>
                <i class="material-icons teal-text lighten-1">mode_edit</i>
              <% end %>
              <%= link_to campaign, method: :delete, data: { confirm: 'Publish this campaign?' } do %>
                <i class="material-icons red-text right">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>  
    </div>
  <% end %>
</div>
          
<br>

<%= link_to 'New Campaign', new_campaign_path, class: "btn waves-effect waves-light teal lighten-1" %>
