<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<div class="row">
  <div class="col s12 m6">
    <% @campaigns.each do |campaign| %>
      <%= link_to campaign_path(campaign) do %>
        <div class="card">
          <div class="card-image">
            <%= image_tag campaign.template.image.url(:medium) %>
            <span class="card-title"></span>
            <%= link_to campaign, method: :publish, class: "btn-floating halfway-fab waves-effect waves-light teal lighten-1 ", data: { confirm: 'Are you sure?' } do %>
              <i class="material-icons">done</i>
            <% end %>
          </div>
          <div class="card-content">
            <p> <%= campaign.title %></p>
            
          </div>
          <div class="card-action">
            <%= link_to edit_campaign_path(campaign) do %>
              <i class="material-icons teal-text lighten-1">mode_edit</i>
            <% end %>
            <%= link_to campaign, method: :delete, data: { confirm: 'Publish this campaign?' } do %>
              <i class="material-icons red-text right">delete</i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
          
<br>

<%= link_to 'New Campaign', new_campaign_path %>
