<!DOCTYPE html>
<html>
  <head>
    <title>Mailing</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col m3 hide-on-med-and-down">
          <ul class="sidebar-wrapper">
            <li class="valign-wrapper"> 
              <%= link_to root_path, class: cp(root_path) do %>
                <i class="medium material-icons">av_timer</i>
                Dashboard
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to campaigns_path, class: cp(campaigns_path) do %>
                <i class="medium material-icons">markunread_mailbox</i>
                Campaigns
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to templates_path, class: cp(templates_path) do %>
                <i class="medium material-icons">web</i>
                Templates
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to lists_path, class: cp(lists_path) do %>
                <i class="medium material-icons">view_list</i>
                Lists
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to contacts_path, class: cp(contacts_path) do %>
                <i class="medium material-icons">contacts</i>
                Contacts
              <% end %>
            </li>
          </ul>
          
        </div>

        <div class="col m9 s12">
           <%= yield %>
        </div>
      </div>
    </div>

   
  </body>
  <script>
    $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('select').material_select();
    });
    <% flash.each do |key, value| %>
      Materialize.toast("<%= value %>", 4000)
    <% end %>
    Dropzone.autoDiscover = false;

    // grap our upload form by its id
    $(".dropzone").dropzone({
      // restrict image size to a maximum 1MB
      maxFilesize: 1,
      // changed the passed param to one accepted by
      // our rails app
      paramName: "template[image]",
      // show remove links on each image upload
      addRemoveLinks: true,
      // if the upload was successful
      success: function(file, response){
        // find the remove button link of the uploaded file and give it an id
        // based of the fileID response from the server
        $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
        // add the dz-success class (the green tick sign)
        $(file.previewElement).addClass("dz-success");
      },
      //when the remove button is clicked
      removedfile: function(file){
        // grap the id of the uploaded file we set earlier
        var id = $(file.previewTemplate).find('.dz-remove').attr('id'); 

        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'DELETE',
          url: '/templates/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      }
    }); 
</script>
</html>
