<!DOCTYPE html>
<html>
  <head>
    <title>Mailing</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col l3 hide-on-med-and-down">
          <%= render "layouts/dashboard_side" %>
          
        </div>

        <div class="col l9 m12 s12">
           <%= yield %>
        </div>
      </div>
    </div>

   
  </body>
  <script>
    $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('select').material_select();
      jQuery(".best_in_place").best_in_place();
    });

    <% flash.each do |key, value| %>
      Materialize.toast("<%= value %>", 4000)
    <% end %>
    
    Dropzone.autoDiscover = false;

    // grap our upload form by its id
    $(".dropzone").dropzone({
      // restrict image size to a maximum 1MB
      maxFilesize: 1,
      // changed the passed param to one accepted by
      // our rails app
      paramName: "template[image]",
      // show remove links on each image upload
      addRemoveLinks: true,
      // if the upload was successful
      success: function(file, response){
        // find the remove button link of the uploaded file and give it an id
        // based of the fileID response from the server
        $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
        // add the dz-success class (the green tick sign)
        $(file.previewElement).addClass("dz-success");
      },
      //when the remove button is clicked
      removedfile: function(file){
        // grap the id of the uploaded file we set earlier
        var id = $(file.previewTemplate).find('.dz-remove').attr('id'); 

        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'DELETE',
          url: '/templates/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      }
    }); 

</script>

</html>
