<!DOCTYPE html>
<html>
  <head>
    <title>Mailing</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col m3 hide-on-med-and-down">
          <ul class="sidebar-wrapper">
            <li class="valign-wrapper"> 
              <%= link_to root_path, class: cp(root_path) do %>
                <i class="medium material-icons">av_timer</i>
                Dashboard
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to campaigns_path, class: cp(campaigns_path) do %>
                <i class="medium material-icons">markunread_mailbox</i>
                Campaigns
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to templates_path, class: cp(templates_path) do %>
                <i class="medium material-icons">web</i>
                Templates
              <% end %>
            </li>
            <li class="valign-wrapper">
              <%= link_to lists_path, class: cp(lists_path) do %>
                <i class="medium material-icons">view_list</i>
                Lists
              <% end %>
            </li>
          </ul>
          
        </div>

        <div class="col m9 s12">
           <%= yield %>
        </div>
      </div>
    </div>

   
  </body>
</html>
